*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #0b0b0c;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

::selection {
  background: #d40000;
  color: #fff;
}
